.git/
.github/
.idea/
.vs/
.vscode/

**/bin/
**/obj/
**/TestResults/
**/test-results/
**/coverage/
**/coverage.*
**/*.coverage
**/*.coveragexml

*.user
*.suo
*.DotSettings.user
*.log
*.tmp

Cv.Api.Tests/
README.md
